*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html,body{
    width: 100%;
    height:100%;
}

#parent{
    height: 100%;
    width: 100%;
    background-color: lightskyblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.child{
    height: 250px;
    width: 250px;
    background-color: crimson;
    border: 2px solid #fff;
}