.container{
    border:1px solid black;
    background-color: yellow;
    height:700px;
    width:509px;
    display:grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 1fr 80px;
    grid-template-areas: 
    "hdr"
    "sb"
    "ct"
    "ft"
    ;
}

.box{
    border: 1px solid red;
    background-color: aqua;
}

#header{
    grid-area: hdr;
}

#sidebar{
    grid-area: sb;
}

#content{
    grid-area:ct;
}

#footer{
    grid-area: ft;
}