*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,body{
    height: 100%;
    width: 100%;
}
#wrapper{
    height: 100%;
    width: 100%;
    background-color:black ;
    display: flex;
    align-items:center;
    justify-content: center;
}
h1{
    font-size: 80px;
    color: #fff;
    font-family: "Plain Light";
    text-transform: uppercase;
}