/* @font-face{
    font-family: 'Plain Light';
    src: url(Fonts/plain-light-webfont.ttf);
} 
@font-face{
    font-family: 'Plain';
    src: url(Fonts/plain-regular-webfont.ttf);
}
@font-face{
    font-family: 'Poppins';
    src: url(Fonts/pxiEyp8kv8JHgFVrJJfecg.ttf);
}
@font-face{
    font-family: 'Silk Serif Light';
    src: url(Fonts/silkserif-lightitalic-webfont.ttf);
}
 @font-face{
    font-family: 'Silk Serif';
    src: url(Fonts/silkserif-regularitalic-webfont.ttf);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Plain Light";
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #151515;
  font-family: "Plain Light";
  overflow-x: hidden;
  /* cursor: none; */
}
/* Custom Cursor */
.mousefollower {
  border: 2px solid #fff;
  background-color: rgb(255, 255, 255);
  scale: 2;
  mix-blend-mode: difference;
}
/* Initial Loader */
#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: #0b0b0b;
  padding: 25vh 10vw;
}
.line {
  /* background-color: red; */
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}
#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}
#line1-part1 h5,
#line1-part1 h6 {
  font-size: 3vw;
  font-family: "silk serif";
  font-weight: 100;
}

/* timer hil rha tha 0-100 wala usi ko solve krne ke liye */
#line1-part1 h5 {
  width: 5vw;
  text-align: right;
}
.line h1 {
  font-size: 6.4vw;
  text-transform: uppercase;
  font-weight: 900;
}
.line h2 {
  font-size: 4.7vw;
  text-transform: uppercase;
  font-weight: 900;
  opacity: 0;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
}
@keyframes anime {
  0% {
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 900;
    opacity: 1;
  }
  48% {
    font-family: "Plain Light";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 900;
    opacity: 0;
  }
  50% {
    font-family: "silk serif";
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    opacity: 1;
  }
  100% {
    font-family: "silk serif";
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    font-weight: 500;
    opacity: 0;
  }
}

#main {
  position: relative;
  background-color: #151515;
}
#page1 {
  height: 85vh;
  width: 100%;
  background-color: #151515;
}

#page1 #nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3vw 5.5vw;
}

#nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

#nav-part2 h4 {
  font-size: 1vw;
  font-weight: 500;
}

.hero {
  width: 72%;
  margin-left: 27%;
  height: fit-content;
  display: flex;
  align-items: center;
  overflow-y: hidden;
}

.hero:nth-child(2) {
  margin-top: 14vh;
}

.hero h1 {
  font-size: 7.2vw;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 7.2vw;
  position: relative;
}
#hero1::before {
  content: "01";
  position: absolute;
  font-size: 3vw;
  font-family: "silk serif";
  font-weight: 100;
  left: 20%;
  top: 33%;
}

#hero3 h2 {
  font-size: 7.2vw;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 7.2vw;
  text-decoration: underline;
}
#hero3 h2:hover {
  -webkit-text-stroke: 2px #fff;
  color: transparent;
  font-weight: 500;
  text-decoration: none;
}

#page2 {
  height: 100vh;
  width: 100%;
  padding-top: 23vh;
  position: relative;
  margin-bottom: 10vh;
}

#video-container {
  height: 66vh;
  width: 71vw;
  position: relative;
  top: 10%;
  left: 28%;
  background-color: red;
}
#video-container img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  top: 0;
}
#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}
#video-cursor {
  background-color: #ffa63d;
  height: 8.5vw;
  width: 8.5vw;
  border-radius: 50%;
  position: absolute;
  top: -13%;
  left: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
#video-cursor i {
  font-size: 2vw;
}

#page3 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  padding: 25vh 0;
  margin-bottom: 20vh;
  margin-top: 75vh;
}

#page3 h1 {
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
  margin-left: 30vw;
}
#page3 h1::before {
  content: "02";
  position: absolute;
  font-size: 3vw;
  font-family: "silk serif";
  font-weight: 100;
  left: -10%;
  top: 1%;
}
#page3 .underline {
  margin-left: 28vw;
}
#img-div-container {
  /* background-color: red; */
  padding: 2vw;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 4vw;
}
.content-div h2 {
  font-size: 5vh;
}
.img-div {
  margin: 2vw 0;
  height: 34vw;
  width: 24vw;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.img-div-small {
  height: 31vw;
  width: 23vw;
}
.aim-img-div-big {
  height: 40vw;
  width: 31vw;
}
.img-div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.underline1 {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 1vw 0;
}
.page3-circle1 {
  height: 23vw;
  width: 23vw;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 40vh;
  margin-left: 12vh;
}
.circle-in {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 0;
  border-radius: 50%;
  transition: all ease 0.3s;
}

.circle-in p {
  font-size: 0.95vw;
  color: black;
  width: 60%;
  font-weight: 500;
  scale: 0;
  transition: all ease 0.3s;
  transition-delay: 0.6;
}
.page3-circle1:hover .circle-in {
  scale: 1;
}
.page3-circle1:hover p {
  scale: 1;
}
.page3-circle2:hover .circle-in {
  scale: 1;
}
.page3-circle2:hover p {
  scale: 1;
}
.page3-circle3:hover .circle-in {
  scale: 1;
}
.page3-circle3:hover p {
  scale: 1;
}
.page3-circle1 svg {
  height: 35%;
}

.page3-circle2 {
  height: 23vw;
  width: 23vw;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.page3-circle2 svg {
  height: 35%;
  rotate: -45deg;
}
.img-div-big {
  height: 40vw;
  width: 31vw;
}
#showcase3 {
  padding-top: 10vh;
}
#showcase4 {
  margin-top: -10vh;
}
#showcase5 {
  margin-top: -33vh;
}

.page3-circle3 {
  height: 23vw;
  width: 23vw;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 55vh;
  margin-left: 12vh;
  position: relative;
}
.page3-circle3 svg {
  height: 35%;
  rotate: -90deg;
}
#showcase6-img {
  height: 40vw;
  width: 31vw;
}
.page3-circle4 {
  height: 24vw;
  width: 24vw;
  border: 2px solid #ffa63d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20vh;
  margin-bottom: 30vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffa63d;
}

#page4 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  /* background-color: rgb(61, 61, 61); */
  padding-top: 7vh;
}

#page4-content {
  width: 72vw;
  position: relative;
  margin-left: 28%;
}
#page4-content h1 {
  font-size: 7vw;
  text-transform: uppercase;
}
#page4-content h1::before {
  content: "03";
  position: absolute;
  font-size: 3vw;
  font-family: "silk serif";
  font-weight: 100;
  left: -10%;
  top: 1%;
}
#page4-content .underline {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 5vw 0;
}
#page4-content > p {
  font-size: 2.05vw;
  width: 50%;
  margin-bottom: 3vw;
}

#page4-flex {
  display: flex;
}
#page4-flex img {
  width: 48%;
}
#page4-flex p {
  font-size: 0.9vw;
  width: 19%;
  margin-left: 1vw;
}
#page4-blue-div {
  background-color: #3f7df4;
  width: 33vw;
  padding: 3vw;
  position: relative;
  margin-top: -35vh;
  margin-left: 26vw;
}
.blue-div-elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: red; */
  padding: 1.7vw 0;
  border-bottom: 2px solid #ffffff94;
}
.blue-div-elem h4 {
  font-size: 1.4vw;
  font-weight: 500;
}
.blue-div-elem p {
  width: 40%;
  font-size: 0.8vw;
}

#page5 {
  min-height: 100vh;
  width: 100%;
}
.elem {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2vw;
}
.elem h1 {
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  text-transform: uppercase;
  /* background-color: red; */
  color: transparent;
  display: inline-block;
  /* margin-right: 16px; */
  animation-name: anime2;
  animation-duration: 17s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes anime2 {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 8px));
  }
}

.elem2 {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2vw;
}

.elem2 h1 {
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  text-transform: uppercase;
  color: transparent;
  display: inline-block;
  /* margin-right: 16px; */
  /* transform: translateX(calc(-100% - 20px)); */
  animation-name: anime3;
  animation-duration: 18s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes anime3 {
  from {
    transform: translateX(calc(-100% - 8px));
  }

  to {
    transform: translateX(0);
  }
}

.elem span {
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
}

.elem2 span {
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
}

#footer {
  height: 80vh;
  width: 100%;
  position: relative;
  padding-left: 28vw;
  padding-right: 2vw;
  margin-top: 10vh;
}
#footer h1 {
  font-size: 8vw;
  text-transform: uppercase;
}
#footer h1::before {
  content: "04";
  position: absolute;
  font-size: 3vw;
  font-family: "silk serif";
  font-weight: 100;
  left: -10%;
  top: 3%;
}
#footer-text {
  position: relative;
  /* background-color: red; */
}

#footer-text h2 {
  font-size: 9.7vw;
  position: absolute;
  top: -18%;
  font-weight: 500;
  opacity: 1;
  left: 0;
  font-family: "silk serif";
}

#footer-text h2 span {
  font-family: "silk serif";
  opacity: 0;
  -webkit-text-stroke: 1px #fff;
  color: transparent;
}
.underline {
  height: 2px;
  width: 100%;
  background-color: #fff;
  margin: 3vw 0;
}
#footer-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 15vw;
  padding-top: 2vw;
}

#footer-div h6 {
  font-size: 0.9vw;
  font-weight: 500;
  margin-bottom: 1.5vw;
}
.box {
  width: 20%;
}
#underlined-text {
  text-decoration: underline;
}
#footer-div h5 {
  font-size: 1.4vw;
  font-weight: 500;
}
.copyright {
  padding-bottom: 8vh;
}
.copyright h5 {
  font-size: 0.9vw;
  font-weight: 100;
}

/* without iske gooey wala animation nhi chalega */
._canvas_container {
  z-index: 999999 !important;
  pointer-events: none;
}
#flag {
  height: 14vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -1;
}

#hero3 h2 {
  z-index: 999;
  position: relative;
}
