*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(107, 198, 16);
}
#page2 img{
    height: 100%;
    width: 20%;
    object-fit: cover;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(176, 25, 93);
}