/* p{
    position:static
} */ 

div{
    width:150px;
    height:150px;
    background-color: aqua;
    border:1px solid black;
    display:inline-block
}

/* #box3{
    position:relative ;
    left:50px;
    top:100px;
} */

/* #box3{
    position:absolute ;
    left:50px;
    top:100px;
} */

#box3{
    position:sticky ;
    left:0px;
    top:0px;
}

/* #box1{
    position:fixed
} */

.wrapper{
    width:100vw;
    height:2000px;
    background-color: yellow;
}