@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: monument;
  src: url(MonumentExtended-Ultrabold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #f8f8f8;
}

#wrapper {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
  padding-top: 0.1px; /*taki nav ko margin dene pe wrappper pe bhi margin na aa jaye --> a bug of css*/
}
/* Navigation Bar Starts Here */
#nav {
  height: 11vh;
  width: 100%;
  /* background-color: red; */
  margin-top: 10px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav h1 {
  /* background-color: blue; */
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monument;
  font-size: 36px;
  letter-spacing: -1px;
  position: relative;
}

#nav h1::after {
  content: "©️";
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  color: #666;
  top: 18%;
  right: 13%;
  font-family: "Poppins", sans-serif;
}
#nav h1::before {
  content: "model management";
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.1px;
  position: absolute;
  color: #666;
  bottom: 18%;
  right: 20%;
  font-family: "Poppins", sans-serif;
}

#nav h2 {
  /* background-color: yellow; */
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 2px solid black;
  font-size: 20px;
  font-weight: 600;
}
#nav h2:nth-last-child(2) {
  width: 29%;
}

#nav h2:nth-last-child(1) {
  width: 10%;
}

#nav h3{
  display: none;
}
/*Navigation Bar Ends Here */

/* Video Section Starts Here */
#center {
  height: 92%;
  width: 100%;
  padding: 2vw 4vw;
  position: relative;
}

#content {
  height: 100%;
  width: 100%;
  position: relative;
}

#content video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#overlay {
  height: 52%;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* background-color: red; */
  padding: 3vw;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.171);
  backdrop-filter: blur(1px); */
}

#over1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#over1 h1 {
  font-family: monument;
  font-size: 3.3vw;
  margin-bottom: 2vw;
}

#over1 h2 {
  font-size: 2vw;
  /* background-color: blue; */
  padding: 2vw 2.4vw;
  border-radius: 50%;
  border: 1px solid #fff;
}

#over2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #fff;
  padding: 1.5vw 0;
}

#over2 h4 {
  font-size: 1.3vw;
  font-weight: 500;
}

#over2 img {
  height: 3vw;
}
/* Video Section Ends Here */

/* Infinite Autoscroll Starts Here */
#scroll {
  width: 100%;
  height: 40vh;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
#container {
  /* background-color: BLUE; */
  display: inline-block;
  animation-name: anime;
  animation-duration: 12s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#container img {
  height: 200px;
  border-radius: 50%;
  width: 200px;
  margin: 0.85vw;
  object-fit: cover;
  object-position: 30% 30%;
}

@keyframes anime {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}
#alphabet {
  margin-top: 2vh;
  height: 11vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
#alphabet h5 {
  font-size: 1.5vw;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 4px;
  border-bottom: 2px solid #000;
  margin-right: 2vw;
}

#alphabet h6 {
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 4px;
  /* background-color: rgb(251,255,0); */
  padding: 0.5vw 0.7vw;
  margin-right: 0.1vw;
  border-radius: 50%;
  cursor: pointer;
  transition: all ease 0.2s;
}

#alphabet h6:hover {
  border: 1px solid #000;
}

/* Infinite Autoscroll Ends Here */
/* Hero Section Starts Here */
#page2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 5vw;
}

#page2-part1 {
  height: 100%;
  width: 50%;
  background-image: url(https://images.unsplash.com/photo-1617922001439-4a2e6562f328?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}

#page2-part2 {
  height: 100%;
  width: 46%;
}

#page2-part2 img {
  width: 100%;
  height: 75%;
  object-fit: cover;
}

#box {
  padding: 2% 0;
  display: flex;
  gap: 13vw;
  /* background-color: blue; */
  height: 25%;
  justify-content: space-between;
}

#box h5 {
  font-size: 1.23vw;
  font-weight: 600;
}
#box p {
  font-size: 0.9vw;
  font-weight: 400;
}
#part1-lower-text h1 {
  font-family: monument;
  padding-left: 5vw;
}

#page3 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 15%;
  padding: 5%;
}
#page3-part1 {
  align-self: center;
  height: 100%;
  width: 30%;
}
#page3-p1-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
#page3-img-part {
  width: 100%;
  height: 100%;
}
#rotating {
  animation-name: rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 14s;
  animation-fill-mode: forwards;
  padding: 12%;
  width: 90%;
  height: 90%;
  position: relative;
  left: 4vh;
  z-index: -1;
}

#arrow {
  position: absolute;
  width: 30%;
  top: 21%;
  left: 38%;
  z-index: 10;
}

#page3-p1-content p {
  width: 80%;
  padding-top: 10vw;
  font-size: 1.1vw;
  font-weight: 600;
}
#page3-part2 {
  height: 100%;
  width: 55%;
}
#page3-part2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#saree-img {
  width: 100%;
  height: 90%;
  position: relative;
}

#saree-img img {
  padding: 1% 7%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 25% 24%;
}

#img-text {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 2vw;
  font-weight: 500;
  border-radius: 50%;
  padding: 2px 13px;
  border: 2px solid black;
}
#part1-lower-text2{
  display: none;
}
/* Hero Section Ends Here */

/* Update Section Starts Here */
#upadte-section {
  height: 100%;
  width: 100%;
  /* background-color: red; */
  position: relative;
  padding: 5vw 4vw;
}

#upadte-section > h1 {
  /*will target dirsct h1 of update section*/
  text-align: center;
  font-family: monument;
  text-transform: uppercase;
  font-size: 3vw;
  /* font-weight: 900; */
  margin-bottom: 7vh;
}

.elem {
  cursor: pointer;
  height: 16vh;
  width: 100%;
  border-top: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  position: relative;
  transition: all ease 0.7s;
}
.elem img {
  height: 100px;
  width: 100px;
  position: absolute;
  border-radius: 50%;
  left: 12%;
  object-fit: cover;
  object-position: 10% 20%;
  opacity: 0;
  transition: all ease 0.7s;
}
.elem h4 {
  font-size: 1.1vw;
  text-transform: uppercase;
  font-weight: 500;
  width: 6%;
}
.elem .elem-part2 {
  width: 45%;
  /* background-color: red; */
}
.elem-part2 h1 {
  font-size: 3vw;
  font-weight: 500;
}

.elem-part2 h5 {
  font-size: 0.8vw;
  font-weight: 600;
  text-transform: uppercase;
}

.elem:nth-last-child(1) {
  border-bottom: 2px solid #000;
}
.elem:nth-last-child(3) img {
  left: 40%;
}

.elem:hover img {
  opacity: 1;
  left: 24%;
}
.elem:hover {
  background-color: rgba(128, 128, 128, 0.421);
}

#update-center-text {
  position: absolute;
  left: 12%;
  opacity: 0;
  transition: all ease 0.7s;
}
#update-center-text h1 {
  font-weight: 500;
}
#update-center-text p {
  font-weight: 500;
  font-size: 0.8vw;
}
.elem:hover #update-center-text {
  opacity: 1;
  left: 24%;
}

/* Update Section Ends Here */
#marque {
  width: 100%;
  /* background-color: red; */
  padding: 0.8vw;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-bottom: 2vw;
}
#marque h1 {
  display: inline-block;
  font-size: 3vw;
  text-transform: uppercase;
  font-weight: 900;
  -webkit-text-stroke: 2px black;
  color: transparent;
  font-family: monument;
  margin-right: 16px;
  letter-spacing: 3px;
  animation-name: move;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

#page5 {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 0.2fr 0.4fr 0.4fr;
}
#page5-left {
  padding: 0vw 5vw;
  text-transform: uppercase;
  font-size: 2.4vw;
  font-family: monument;
}
#page5-center {
  padding-left: 20%;
  padding-right: 20%;
  width: 100%;
  height: 60%;
}
#page5-center img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
#page5-center p {
  font-size: 1vw;
  font-weight: 500;
  padding-bottom: 3vw;
}
#page5-right {
  padding-left: 20%;
  padding-right: 20%;
  width: 100%;
  height: 60%;
}
#page5-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 21% 23%;
}
#page5-right p {
  font-size: 1vw;
  font-weight: 500;
  padding-bottom: 1vw;
}

#footer {
  width: 100%;
  display: grid;
  grid-template-columns: 0.4fr 0.2fr 0.4fr;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

#foot-left {
  padding: 1vw;
  /* background-color: blue; */
  border-right: 2px solid #000;
}
#inside-foot-left {
  display: flex;
  justify-content: space-around;
}
#inside-foot-left h1 {
  font-family: monument;
  font-size: 36px;
  letter-spacing: -1px;
  position: relative;
}
#inside-foot-left h1::after {
  content: "©️";
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  padding-left: 3px;
  color: #666;
  font-family: "Poppins", sans-serif;
}
#inside-foot-left h1::before {
  content: "model management";
  font-weight: 400;
  bottom: 10%;
  right: 2%;
  font-size: 12px;
  letter-spacing: 0.1px;
  position: absolute;
  color: #666;
  font-family: "Poppins", sans-serif;
}

#foot-centre {
  padding: 1vw;
  /* background-color: yellow; */
  border-right: 2px solid #000;
}
.common-foot {
  padding: 0.8vw 1vw;
  font-size: 1.1vw;
  letter-spacing: -1px;
  font-weight: 600;
}
#first-para {
  border-bottom: 2px solid #000;
  padding: 1.8vw 1vw;
  font-weight: 600;
  font-size: 1.1vw;
}
#icons {
  padding: 2vw;
  padding-left: 4vw;
}
#icons i {
  font-size: 1.7vw;
  padding-right: 1.2rem;
  color: #6b4545;
  transition: all 0.3s ease;
}

#icons i:hover {
  color: rgb(20, 3, 3);
  cursor: pointer;
}

#last-para {
  padding-left: 4vw;
  font-size: 0.9vw;
  font-weight: 500;
  margin-bottom: 2vw;
}

@media (max-width:600px) {
  body{
    overflow-x: hidden;
  }
  #nav {
    height: 8vh;
    margin-top: 10px;
    padding: 0 5vw;
  }

  #nav h1 {
    width: 40%;
    justify-content: flex-start;
    font-size: 6.4vw;
  }

  #nav h1::after {
    display: none;
  }
  #nav h1::before {
   display: none;
  }
  #nav h2{
    display: none;
  }
  #nav h3{
    display: block;
  }
  #center {
    height: 40%;
    width: 100%;
    padding: 2vw 4vw;
  }
  
  
  #overlay {
    height: fit-content;
    width: 100%;
    padding: 3vw;
  }

  #over1 h1 {
    font-size: 5.4vw;
    font-weight: 100;
  }
  
  #over1 h2 {
    font-size: 2vw;
    padding: 3vw 3.2vw;
  }
  
  #over2 h4 {
    font-size: 3vw;
    font-weight: 500;
  }
  
  #over2 img {
    height: 5vw;
  }
  #scroll {
    height: 10vh;
  }
  #container img {
    height: 18vw;
    border-radius: 50%;
    width: 17.5vw;
    margin-top: 3vw;
  }
  #alphabet {
    padding-left: 10vw;
    padding-right: 8vw;
    height: fit-content;
    flex-wrap: wrap;
    gap: 0.6vw;
    padding: 3vw 4vw;
    border-top: 1px solid #000;
    border-bottom:1px solid #000;
  }
  #alphabet h5 {
    font-size: 2.9vw;
    font-weight: 500;
    letter-spacing: 2px;
    border-bottom: 1px solid #000;
    margin-right: 2.1vw;
  }
  
  #alphabet h6 {
    font-size: 1.9vw;
    padding: 1.3vw 1.4vw;
    font-weight: 500;
  }
  
  #alphabet h6:hover {
    border: 0.7px solid #000;
  }

  #page2 {
    height: 95vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding: 5vw 0.8vw;
  }
  
  #page2-part1 {
    align-self: center;
    width: 70%;
    position: relative;
  }
  #part1-lower-text2{
    position: absolute;
    display: initial;
    font-family: monument;
    font-size: 2.5vh;
    top:100%;
    left: 16%;

  }
  #page2-part2 {
    margin-top: 4.2vh;
    height: 40%;
    width: 60%;
  }
  
  #page2-part2 img {
    width: 20vh;
    height: 60;
    object-position: bottom;
    margin-left: 40%;
  }
  
  #box {
    flex-direction: column;
    gap: 1vw;
    justify-content: flex-start;
  }
  
  #box h5 {
    margin-left: 40%;
    width: 80%;
    font-size: 2.3vw;
  }
  #box p {
    margin-left: 40%;
    width: 80%;
    font-size: 1.8vw;
  }
  #part1-lower-text h1 {
    display: none;
  }
  
  #page3 {
    height: auto;
  }
  #page3-part1 {
    width: 40%;
  }

  #page3-img-part {
    width: 100%;
    height: 100%;
  }
  #rotating {
    padding: 9%;
    width: 90%;
    height: 90%;
    left: 1vh;
  }
  
  #arrow {
    width: 25%;
    top: 25%;
    left: 39%;
  }
  
  #page3-p1-content p {
    padding-top: 1.5vw;
    font-size: 1.5vw;
    font-weight: 500;
  }
  #page3-part2 {
    height: 70%;
    width: 65%;
  }
  #page3-part2 img {
    padding-top: 3vw;
    height: 38%;
  }
  
  #saree-img {
    height: 30%;
  }
  
  #saree-img img {
    padding: 4% 6%;
  }
  
  #img-text {
    padding: 2vw 2.6vw;
  }
  #upadte-section {
    height: auto;
    padding: 2vw 2vw;
  }
  
  #upadte-section > h1 {
    font-size: 7vw;
    margin-bottom: 5vh;
  }
  
  .elem {
    height: 15vw;
    width: 100%;
    border-top: 1.5px solid #000;
  }
  .elem img {
    height: 12vw;
    width: 12vw;
  }
  .elem h4 {
    font-size: 2.0vw;
    font-weight: 550;
  }

  .elem-part2 h5 {
    font-size: 1.2vw;
  }
  
  #update-center-text {
    transition: all ease 0.4s;
  }
  #update-center-text h1 {
    font-size: 2vh;
  }
  #marque {
    border-top: 1.5px solid #000;
    border-bottom: 1.5px solid #000;
    margin-bottom: 3vh;
    margin-top: 1.5vh;
  }
  #marque h1 {
    font-weight: 400;
    -webkit-text-stroke: 0.8px black;
    color: transparent;
  }
  
  #page5 {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #page5-left {
    font-size: 10vw;
    align-self: center;
  }
  #page5-center img {
    height: 70%;
  }
  #page5-center p {
    font-size: 2vw;
    padding: 3vw 0vw;
  }

  #page5-right img {
    height: 60%;
    padding-bottom: 2vh;
  }
  #page5-right p {
    font-size: 2vw;
    padding: 3vw 0vw;
  }
  
  #footer {
    grid-template-columns: 2fr 1fr 2fr;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  

  #inside-foot-left h1 {
    font-size: 2vh;
  }
  #inside-foot-left h1::after {
    display:none;
  }
  #inside-foot-left h1::before {
    display: none;
  }

  .common-foot {
    font-size: 0.8vh;
    letter-spacing:0.2px;
  }
  #first-para {
    padding: 2vw 0.7vw;
    font-size: 0.8vh;
  }

  #icons i {
    font-size: 3vw;
    padding-right: 0.5rem;
  }
  
  #last-para {
    font-size: 0.6vh;
    margin-bottom: 5vw;
  }
}
